<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroVision AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="container">

        <div class="logo-container fade">
            <img src="{{ url_for('static', filename='images/IMG_20260614_200114.png') }}" alt="NeuroVision AI Logo" class="logo">
        </div>

        <div class="title fade">NeuroVision AI</div>
        <div class="subtitle fade">Brain Tumor Detection & Explainable AI Analysis</div>

        <div class="card scanning fade">
            <h3>Upload MRI Scan</h3>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" id="mriFile" accept="image/*" onchange="previewImage(event)" required>
                <br><br>
                <img id="preview" src="#" alt="MRI Preview" style="display: none; max-width: 100%; max-height: 300px; margin: 15px auto; border: 2px solid #00c8ff;">
                <br>
                <button type="submit">Analyze Scan</button>
            </form>
        </div>

    </div>
</body>
</html>
